SYSTEM_PROMPT=당신은 AI 어시스턴트입니다.
MODEL_NAME=/my/path/to/model/gemma-4-31B-it
MAX_TOKENS=3600
TEMPERATURE=1.1
TOP_P=0.95
TOP_K=64
THINKING_BUDGET=200
VISION_TOKEN_BUDGET=1120
VLLM_URL=http://localhost:8000/v1/chat/completions
PORT=8889
